body {
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1, .page2{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left{
  position: absolute;
  top: 120px;
  left: 20px;
}

.right{
  position: absolute;
  top: 120px;
  right: 20px;
}


.hidden{
  display: none !important;
}

.shown{
  display: block ;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}

.form input{
  height: 1.5rem;
}

.btn{
  align-self: center;
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  width: 10rem;
  transition: 0.3s ease;
  text-align: center;
}

.btn:hover{
  background-color: #005bb5;
}